.Grid {
  border: 2px solid white;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  margin: 0 auto;
  min-width: 500px;
  row-gap: 5px;
  column-gap: 5px;
  grid-template-areas:
    "button1 button1 button1 "
    "game  game game "
    "game  game game "
    "header header header ";
}
.containGrid {
  grid-template-areas:
    "header  "
    "game   "
    "game   "
    "header ";
}

.grid > item :hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.container {
  background-image: linear-gradient(to right, #00aaff, #00ff6c);
  justify-content: center;
  align-items: center;
  grid-area: contain;
  display: grid;
  grid-template-areas:
    "header header header "
    "menu  game space "
    "menu game space"
    "menu game space ";
  grid-gap: 10px;
}

.tile {
  width: 95px;
  height: 95px;
  position: absolute;
  background: white;
  transition: all 0.1s ease-in-out;
  border-radius: 2px;
  background-size: 400px 400px;
}
.buttons {
  height: 80px;
  width: 100px;
  text-align: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  text-shadow: 10px;
  font-size: 20px;
  outline: transparent;
  font-weight: bolder;
  background-image: linear-gradient(to right, #540374, #945fd1);
}
.buttons:hover {
  background-color: #008cba;
  color: white;
}
.buttons:active {
  box-shadow: 0 5px rgb(255, 255, 255);
  transform: translateY(4px);
}
.buttonsPlace {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "b1  b2 b3 "
    "b1 b2 b3";
  grid-gap: 60px;
}
